<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title> Create New Task</title>
    <link rel="stylesheet" href="{% static 'create2.css' %}">
</head>
<body>
<div class="background">
        <div class="content">
<h2> Create New Task</h2>
            <div class="container">
<form action="/tasks/create/ " method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    {{form.as_p}}
    <p><input type="submit" class="btn btn-success" value="submit"></p>
    <a href = "http://127.0.0.1:8000/tasks/task_list/">view all tasks</a>

</form>
            </div>
        </div>
</div>

</body>
</html>