body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.background {
 background-image:url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjk2LW5pbmctMTAuanBn.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    }


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: hsla(127, 12%, 86%, 0.1);
    flex-direction: column;
    color: #100f0f;
}

.container {
    background: hsla(0, 0%, 10%, 0.1);
    text-align: center;
    padding: 20px;
    margin-right:300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1#welcome {
margin-top: 10px;
margin-right:300px;



}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 5px 0;
}

a#signup, a#login {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background-color:#945a37;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a#signup:hover, a#login:hover {
    background-color: #f06813;
}